body { font-family: Arial; background: #1e1e1e; color: #f0f0f0; }
button { background: #3a3a3a; border: none; color: white; padding: 6px 12px; margin: 4px; cursor: pointer; }
button:hover { background: #555; }
textarea { width: 100%; height: 200px; background: black; color: lime; padding: 5px; font-family: monospace; overflow-y: scroll; }
input { padding: 5px; margin-right: 4px; width: 300px; }
li { margin-bottom: 20px; list-style: none; border-bottom: 1px solid #555; padding-bottom: 10px; }
